<div>
  <h1 class="text-lg font-bold"><%= @topic %></h1>

  <div id="messages" phx-update="stream">
    <p :for={{dom_id, msg} <- @streams.messages} id={dom_id}>
      <%= msg %>
    </p>
  </div>
</div>
